/* resets */
body,
h1,
h2,
ul {
  margin: 0;
  padding: 0;
}

body {
  background-color: #6a5acd;
  font-family: sans-serif;
  width: 100vw;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  padding: 20px;
  text-align: center;
  color: white;
}

.totals-table {
  text-align: center;
  color: white;
}

.totals-table th {
  background-color: #9370db;
  padding: 10px;
}

.totals-table td {
  background-color: #b0c4de;
  padding: 10px;
}

.table-total-cost-basis {
  width: 33.3%;
}

.table-total-cash-return {
  width: 33.3%;
}

.table-total-percent-return {
  width: 33.3%;
}

.portfolio-section {
  display: flex;
  justify-content: center;
}

.portfolio-table {
  text-align: center;
  color: white;
  table-layout: fixed;
}

.portfolio-table th {
  background-color: #9370db;
  padding: 0.5em;
}

.portfolio-table td {
  background-color: #b0c4de;
  padding: 0.5em;
}

.table-ticker {
  width: 15%;
}

.table-open-options {
  width: 22%;
}

.table-cost-basis {
  width: 27%;
}

.table-cash-returns {
  width: 27%;
}

.table-delete-button {
  width: 9%;
}

.open-options {
  display: flex;
}

.buy-option,
.sell-option {
  position: relative;
  display: inline-block;
  background-color: #20b2aa;
  border: none;
  border-radius: 5px;
  opacity: 1;
  transition: 0.3s;
  color: white;
  font-size: 1em;
  flex: 1;
}

.sell-option {
  background-color: #87cefa;
}

.buy-option:active,
.sell-option:active {
  opacity: 0.6;
}

.open-options-list-item {
  display: flex;
  justify-content: center;
}

.add-stock-form-container {
  display: flex;
  justify-content: center;
}

.add-stock-form {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.add-stock-form div {
  display: flex;
  justify-content: space-between;
}

.stock-detail-modal-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle-modal {
  display: none;
}

.stock-detail-modal {
  width: 70%;
  height: 70%;
  border-radius: 10px;
  background-color: lightslategray;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 888px) {
  .overview-form-container {
    display: flex;
    margin: 0 30px;
  }

  .portfolio-section {
    flex: 2;
  }

  .portfolio-table {
    width: 100%;
    margin-right: 30px;
  }

  .add-stock-form-container {
    flex: 1;
  }

  .add-stock-form {
    width: 100%;
    margin-left: 30px;
  }

  .stock-detail-modal {
    width: 60%;
    height: 60%;
  }
}
